header
  .container
    .row
      .col-12.col-sm-6.col-lg-4
        img.logo( src='img/logo.svg' alt='Французская стоматологическая клиника' )

      .col-xl-1.d-none.d-xl-block

      .col-lg-4.d-none.d-lg-block
        address.d-none.d-md-block г. Москва, 2-я Звенигородская ул.,<br class="d-none d-sm-block"> д. 13, стр. 41

      .col-12.col-sm-6.col-lg-4.col-xl-3.text-center.text-sm-ritgh
        a.phone( href='tel:+74957072323' rel='nofollow') +7 (495) 707-23-23

section.first-screen
  .container
    .row
      .col-xl-5
      .col-xl-7
        .row
          .col-xl-6
            .first-screen-logo
              img.logo-invisalign( src='img/invisalign_logo.svg' alt='Invisalign' )
        h1 Исправление прикуса без брекетов
        p.desc.blue во Французской Стоматологической Клинике

section.send-order
  div.before Только<br class="d-none d-md-block"> 4<br class="d-none d-md-block"> места
  .container
    .row.justify-content-center
      .col.col-sm-9
        div

          h2.text-center Оставьте заявку сегодня
          p.desc.text-left.text-sm-center и получите консультацию
            b  одного из лучших ортодонтов Европы
            |  Мишеля Кассань уже в ноябре!

          include form

          .form-result
            p Спасибо за заявку!<br>
            | Мы перезвоним Вам в ближайшее время!

section.advantages
  h2.text-center Чем каппы Invisalign лучше брекетов?
  .container
    .row
      - var listAdvOne = [["Совершенно незаметны", "Это самый эстетичный вид ортодонтических конструкций."], ["Просты в уходе", "Элайнеры не требуют сложного ухода, который необходим при ношении брекет-конструкций."], ["Не меняют дикции", "Вы привыкнете к элайнерам за 2-3 дня. Invisalign меняют дикцию меньше чем любая другая ортодонтическая аппаратура."], ["Не ограничивают в еде", "Снимайте элайнеры на время приема пищи и наслаждайтесь любимыми блюдами."]]
      - for (var x = 0; x < 4; x++)
        .col-12.col-md-3.text-center.text-sm-left
          h3= listAdvOne[x][0]
          p.desc= listAdvOne[x][1]
          hr.bg-white.d-sm-none

section.minus
  .container
    .row
      .col
        h2.text-center Минусы Invisalign

    .row
      .col-xl-1
      .col-xl-10
        p.desc.text-left.text-sm-center Казалось бы, Invisalign – совершенный вид лечения, но он имеет один недостаток. <br>
          b Лечение Invisalign требует внимания и ответственности со стороны пациента: <br>
          |  каппы нужно носить 20-22 часа в  сутки и вовремя переходить к ношению следующей каппы. <br> По этой причине данный метод редко применяют для лечения юных пациентов.

section.doctors
  .container
    .row
      .col
        h2.text-center.blue Опытные французские и русские доктора

    .row
      .col-xl-1
      .col-xl-10
        p.desc.text-left.text-sm-center Несмотря на то, что абсолютно все каппы Invisalign производят в США,
          b  ответствен за результат врач-ортодонт
          | . На этапе диагностики врач прогнозирует детально движение каждого зуба, закладывает в лечение дополнительные элементы – аттачменты, необходимость стриппинга и прозрачных кнопок, необходимость ношения межчелюстных эластиков, рассчитывает точный срок лечения.

    .first-doctor
      .row
        // .col-xl-1
        .col-xl-4
          img(src="img/cassagne.jpg" alt="Мишель Кассань")
        .col-xl-8
          h3 Мишель Кассань
          p.blue
            b Один из первых европейских ортодонтов, которые стали применять Invisalign.
            |  Он имеет огромный опыт в работе с этой системой элайнеров и высоко оценивает ее эффективность и практичность.
          p Стаж в стоматологии более 30 лет. Имеет клинику в г. Париже, специализирующуюся на эстетической ортодонтии.
          p
            i Получил статус «Платинового» специалиста в области работы с системой невидимых капп «INVISALIGN» в 2001 году. Имеет диплом об окончании Медицинского Университета города Бордо.
          button.call-back.btn.btn-blue(
            data-toggle="modal"
            data-target="#sendOrderCassagne"
            data-doctor="cassagne"
          ) Запись на прием
    hr.d-sm-none
    .doctor
      .row
        //.col-xl-1
        .col-12.col-xl-4.oreder-1.order-sm-2
          img(src="img/morozova.jpg" alt="Наталья Морозова")
        .col-12.col-xl-8.oreder-2.order-sm-1
          h3 Наталья Морозова
          p.blue
            b Прошла обучение у лучших европейских специалистов:
            |  J.Lacout, D.Derose, L.Gautier,  Dr. Vittorio Cacciafesta, Nazan Kucukkeles, Emeritus Charles Burstone.
          p Стаж в стоматологии с 2007 г. Владеет французским, английским и итальянским языками.
          p
            i Закончила с отличием стоматологический факультет ГОУ ВПО ММА им. И. М. Сеченова. По окончании получила золотую медаль и грант на выполнение научного исследования в области практической стоматологии.
          button.call-back.btn.btn-blue(
            data-toggle="modal"
            data-target="#sendOrderMorozova"
            data-doctor="morozova"
          ) Запись на прием


section.price
  h2.text-center Цены на Invisalign
  .container
    .row
      .col-12
        p.desc.text-left.text-sm-center К сожалению, невозможно назвать точную стоимость лечения до проведения ортодонтической  диагностики. Как и для других видов ортодонтического лечения, стоимость Invisalign зависит от сложности случая и длительности коррекции.
        p.desc.text-left.text-sm-center В нашей клинике представлены контракты на лечение сроком от полугода. Каждый контракт уже включает сами элайнеры, все визиты к доктору, дополнительные ортодонтические аппараты (если потребуется), ревизии капп.
        p.desc.text-left.text-sm-center
          b Вы знаете точно в какую сумму Вам обойдется лечение!<br> Никаких переплат и дополнительных платежей

        div.form-wrap.form-inverse.text-center
          include form

        .form-result.text-center
          p Спасибо за заявку!<br>Мы перезвоним Вам в ближайшее время!

section.advantages-second
  h2.text-center.blue Чем Invisalign лучше других элайнеров?
  .container
    .row
      .col-xl-1
      .col-xl-10
        p.desc.text-left.text-sm-center Наши доктора успели поработать с многими системами элайнеров как зарубежного, так и  российского производства. Когда речь идет об эффективности, комфорте и безопасности лечения, на первый план выходят следующие преимущества Invisalign:
    .row
      - var listAdv = [["Высококачественный пластик", "Каппы из хорошего материала безопасны, удобны в носке и уходе, не деформируются. Кроме того, они совершенно прозрачны!"], ["Предсказуемый результат", "Никаких сюрпризов: предсказуемый результат в указанные сроки!"], ["Отлаженная работа с докторами", "На результат лечения влияют не только материал и доктор, но и то, насколько слаженно работает производитель с Вашим врачом!"], ["Колоссальный опыт работы", "Таким опытом работы с элайнерами, который есть у Invisalign, не может похвастаться ни один производитель элайнеров!"]]
      - for (var x = 0; x < 4; x++)
        .col-12.col-md-3
          h4= listAdv[x][0]
          p.list-desc= listAdv[x][1]

//section.before-after
  h1.text-center Фото до и после
  .container
    .row
      - var photo = [ ["img/placeholder.jpg", "img/placeholder.jpg"], ["img/placeholder.jpg", "img/placeholder.jpg"]]
      - for (var x = 0; x < 2; x++)
        .col-12.col-md-6
          .border-blue
            .row
              .col-6
                div
                  img(src=photo[x][0] alt="Фото до лечения")
                h5.text-center Фото до лечения
              .col-6
                div
                  img(src=photo[x][1] alt="Фото после лечения")
                h5.text-center После 18 месяцев лечения

section.order
  .container
    .row
      .col-xl-1
      .col.col-xl-10
        h2.text-center Хотите идеальную улыбку без брекетов уже через год*? <br> Записывайтесь на консультацию!

        .form-wrap.form-inverse.text-center
          include form

        .form-result.text-center
          p Спасибо за заявку!<br>Мы перезвоним Вам в ближайшее время!

        p.desc
          small *Один год – средний срок ортодонтического лечения Invisalign в ООО «Французский медицинский центр». Точный срок лечения возможно назвать только после диагностики!

footer
  .container
    .row
      .col-12.col-md-4
        img(src="img/logo_footer.svg" alt="French Dental Clinic" class="logo")
        br
        a.site.text-center.text-sm-left(href="http://fdc-vip.ru/" title="Французский Медицинский Центр" target="_blank")
          i Перейти на сайт клиники
        br.d-sm-none
      .col
      .col-12.col-md-5
        .text-center.text-sm-right
          p
            a.phone(href="tel:+74957072323" rel="nofollow" title="Позвонить в клинику") +7 (495) 707-23-23
          p.small ООО «Французский медицинский центр»
          address г. Москва, ул. 2-я Звенигородская, д. 13, стр. 41

.modal.fade#sendOrderCassagne(
  tabindex='-1'
  role='dialog'
  aria-labelledby='sendOrderModalLabel'
  aria-hidden='true'
)
  include modal

.modal.fade#sendOrderMorozova(
  tabindex='-1'
  role='dialog'
  aria-labelledby='sendOrderModalLabel'
  aria-hidden='true'
)
  include modal