form(
  action='mail.php'
  method='POST'
  name='first-screen-form')

  div.form-group
    input.form-control(
      type='text'
      name='name'
      placeholder='Введите имя'
    )

  div.form-group
    input.form-control(
      type='phone'
      name='phone'
      placeholder='Введите телефон'
    )

  button.btn.btn-blue Отправить заявку!