form(
  action='mail.php'
  method='POST'
  name='first-screen-form')

  input(
    type='text'
    name='name'
  )

  input(
    type='phone'
    name='phone'
  )

  button.btn.btn-blue.inverse Отправить заявку!