title Элайнеры Invisalign в Москве
meta(charset="UTF-8")

meta( name="description"
content="Исправление прикуса каппами Invisalign (инвизалайн) в Москве" )

meta( name="keywords"
content="каппы инвизалайн, invisalign, исправление прикуса зубов, элайнеры, невидимые брекеты" )

link(
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
crossorigin="anonymous"
)

link(
rel='stylesheet'
href='css/style.css'
)